body{
    font-family: 'Lato', sans-serif;
}

.icono{
    font-weight: 700;
}

hr{
    border-width: 2px;
    border-color: grey;
    width: 30%;
}

.section1{
    background-image: url("../img/IMG_2172.png");
    background-size: cover;
    height: 70vh;
    background-repeat:   no-repeat;
    background-position: center center;  
}

.two-cols-paragraph{
    column-count: 2;
}

.hr1{
    border-width: 2px;
    border-color: grey;
    width: 80%;
}

.background-color{
    background-color:azure;
}

.icono-right{
    position: relative;
    left: -30px;

}

.icono-left{
    position: relative;
    right: -30px;

}

footer{
    height: 100%;
    background-color: grey;




